@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

html {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #FDE4F2;
}

h3 {
  font-family: 'Gochi Hand', Arial, sans-serif;
}

p{
  color: #837BD9;
}
