/*-----import statements for google fonts-----*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/*-----Base Styles-----*/
html {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #FDE4F2;
}

h3 {
  font-family: 'Gochi Hand', Arial, sans-serif;
  margin: 2em 0 0 0;
}

p{
  color: #837BD9;
  margin-top: 0;
}

ul {
  padding: 0;
}

li {
  margin-left: 2em;
}
/*-----Layout-----*/
#main-title {
  color: green;
}

/*-----Module/Modular-----*/
.ingredient-list {
  list-style-type: none;
  margin: 0;
}

.ingredient-list h4 {
  margin-bottom: 0.5em; /* 8px / 16px = 0.5em */
}
